page-profesionalj {
  ion-content{
    background-color: black !important;
    text-align: center !important;
    color: white !important;
  }

  .imgFace{
    border-radius: 50% !important;
    width: 70% !important;
    height: 50% !important;
  }
}
