page-usuarioa {
  ion-content{
    background-color: black !important;
  }
  .mundoSplash{
    width: 70% !important;
    bottom:2%;
    z-index: -1;
  }
}
.errorToast {
  > div{
       background-color:red !important;
   }
}
