page-profesionali {
  ion-content{
    background-color: black !important;
    background-image: url('assets/img/camaraPreview.png');
    text-align: center !important;
    color: black !important;
  }

  .figuraCamara{
    border: 1px solid white !important;
    border-radius: 50% !important;
    width: 70% !important;
    height: 50% !important;
    background-color: transparent !important;
    margin: auto;
    display: block;
  }
}
