page-profesionali {
  body{
    background-color: transparent;
    background-image: url('assets/img/background.png');
    background-repeat:repeat;
    background-size: cover;
    color: white !important;
  }
  ion-content{
    background-color: transparent !important;
    text-align: center !important;
    color: white !important;
  }
}
