page-cliente {
  ion-list{
    background: black;
  }
  .contenidoDiv{
    background: #fff;
  }

  .panelPrincipal {
    color: white;
    background: #3e6372;
    text-align: center !important;
  }

  ion-content{
    background: black !important;
    //background: rgb(229, 227, 223);
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .txtNombreUsuario{
    height: 15vh !important;
  }

  .itemOpciones{
    height: 10vh !important;
  }

  .itemFinal{
    height: 12vh !important;
    border-top: 1px solid white !important;
  }
}
