page-cliente {
  ion-list{
    background: black;
  }
  .contenidoDiv{
    background: #fff;
  }

  .toolbar-background {
    color: white;
    background-color: #3e6372;
    text-align: center !important;
  }

  ion-content{
    background: black !important;
    //background: rgb(229, 227, 223);
  }

  #map {
    width: 100%;
    height: 100%;
  }
}
